<%- include ('partials/header'); -%>

<div>
    <div class="header">
        <h1 style='font-size: 60px'>RATING RESULTS</h1>
    </div>
    <div class="topnav">
      <a href = "/" id = "currentPage">Home</a>
      <a href = "/account_new">Create Account</a>
      <a href = "/login">Login</a>
      <a href = "/searchGames">Search Games</a>
      <a href = "/searchdevelopers">Search Game Developers</a>
    </div>   
</div>

<div class='container'>
    <div class='jumbotron'>
        <div align='center'>
            <h3>Search Result(s)</h3>
            <ul style="color: black">
                <%games.forEach(function(q){%>
                    <img class='col-sm-4 portrait' src=<%=q.cover%> />
                    </br>
                    <div class='col-sm-4 info'>
                        <h3><%=q.title%></h3>
                        <div><strong>Genre:</strong>&ensp;<%=q.genre%></div>
                        <div><strong>Rating:</strong>&ensp;<%=q.rating%>/10</div>
                        <div><strong>Pricing:</strong>&ensp;$<%=q.pricing%></div>
                        <div><strong>Summary:</strong>&ensp;<%=q.summary%></div>
                        </br>
                        </br>
                    </div>
                <%});%>
            </ul> 
        </div>
        <form action='/searchGames' method='GET'>
            <div class="text-center">
                <button class='btn btn-primary'> Search Again</button>
            </div>
        </form>
    </div>
  </div>

<%- include ('partials/footer'); -%>