<div>
    <div class="header">
        <h1 style='font-size: 60px'>Video Game Database Search</h1>
    </div>
    <div class="topnav">
      <a href = "/welcome" id = "currentPage">Home</a>
      <a href='/logout'>Logout</a>
      <a href='/account_edit'>Account</a>
      <a href = "/searchGames">Search Games</a>
      <a href = "/searchdevelopers">Search Game Developers</a>
      <li> <a href = "/wishlist"> WishList </a> </li>
    </div>   
</div>

<div class='container'>
    <div class='jumbotron'>
        <div align='center'>
            <%if(!game){%>
                <h1 class='col-sm-14 notfound'>CANNOT FIND GAME!!!</h1>
            <%} else {%>
                <img class='col-sm-4 portrait' src=<%=game.cover%> />
                </br>
                <div class='col-sm-4 info'>
                    <h3><%=game.title%></h3>
                    <div><strong>Genre:</strong>&ensp;<%=game.genre%></div>
                    <div><strong>Rating:</strong>&ensp;<%=game.rating%>/10</div>
                    <div><strong>Pricing:</strong>&ensp;$<%=game.pricing%></div>
                    <div><strong>Summary:</strong>&ensp;<%=game.summary%></div>
                </div>
            <%}%>
        </div>
        </br>
    </div>
</div>
    

<%- include ('partials/footer'); -%>
